@import url('../Inter/Inter Web/inter.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/places/places.css');
@import url('../blocks/place/place.css');
@import url('../blocks/cover/cover.css');

@media screen and (max-width: 1280px) {

    .intro {
        margin-left: 148px;
    }
    
    .lead__subtitle {
        margin-bottom: 64px;
    }

}

@media screen and (max-width: 1024px) {
    .header {
        padding-bottom: 48px;
    }

    .lead {
        max-width: 962px;
        margin: 0 auto;
    }

    .intro {
        margin-left: 48px;
        padding-left: 0;
    }

    .photo-grid {
        max-width: 100%;
        margin: 92px auto 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: calc(100% - 48px);
    }

    .lead {
        width: 100%;
    }

    .intro {
        padding-left: 0;
        margin: 0 auto;
        padding-top: 88px;
        max-width: 720px;
    }

    .photo-grid {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 24px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }

    .footer {
        margin: 82px 24px 0;
    }
}

@media screen and (max-width: 660px) {

    .lead__title {
        font-size: 50px;
        line-height: 50px;
    }

    .cover__title {
        font-size: 45px;
        line-height: 50px;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        flex-direction: column;
    }

    .footer__links {
        flex-direction: column;
        font-size: 24px;
        line-height: 24px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: calc(100% - 32px);
        min-height: 42px;
        max-width: 288px;
        padding: 16px 0 48px;
    }

    .header__logo {
        width: 142px;
        height: 42px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 24px;
    }
    
    .lead {
        max-width: 100%
    }

    .lead__title {
        max-width: 288px;
        max-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 40px;
    }

    .lead__caption {
        margin-left: 16px;
    }

    .intro {
        padding-top: 64px;
    }

    .intro__title {
        line-height: 35px;
        font-size: 32px;
    }

    .photo-grid {
        max-width: 288px;
        grid-gap: 12px;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 16px;
    }

    .place {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto 48px;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }

    .place__image {
        width: 100%;
        height: auto;
        margin-bottom: 32px;
    }

    .place__website {
        display: none;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        flex-direction: column;
    }

    .footer__links {
        flex-direction: column;
        font-size: 24px;
        line-height: 24px;
        justify-content: space-between;
    }
}