.cover__background {
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.cover__background {
    opacity: 0.3;
}
