.cover__title {
    max-width: 560px;
    width: 100%;
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}
