@import url('_content/section_content_narrow.css');

.section {
    max-width: calc(100% - 48px*2);
}

@media screen and (max-width: 768px) {
    .section {
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 320px) {
    .section {
        max-width: calc(100% - 16px*2);
    }
}