.page__container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 28px 0 24px;
}

@media screen and (max-width: 320px) {
    .page__container {
        padding-top: 16px;
    }
}